[submodule "cpp/project/JArgsParser"]
	path = cpp/project/JArgsParser
	url = https://github.com/ZhengqiaoWang/JArgsParser.git
[submodule "cpp/1_prepare/1_3_dir"]
	path = cpp/1_prepare/1_3_dir
	url = https://github.com/ZhengqiaoWang/emptycppdirectory.git
